.header {
    background-color: #fff;
    // padding: 4rem;
    overflow: hidden;
    // height: 2.8rem;
    line-height: 46px;
    padding: 0 4rem;
    // border-bottom: 1px solid #ccc;

    &-logo {
        color: #1e90ff;
        font-size: 20px;
        text-align: left;
    }

    &-txt {
        color: #999;
        display: inline-block;
        padding-left: .3rem;
    }
}

.ant-menu {
    // line-height: 2.6rem;
    &-horizontal {
        border: none;
        line-height: 48px;
    }
}

.anticon {
    margin-right: 10px;
}